
body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

p {
    padding-left: 60px;
    padding-right: 60px;
}

h2 {
    padding-top: 20px; 
    padding-left: 80px;
}
h1 {
    color: floralwhite;
    z-index: 0;
    left: 20px;
    top: -9px;
    position: absolute;
}
.header {
    background-color: skyblue;
    width: relative;
    height: 60px;
    display: block;
    top: 0px; 
    left: 0px;
    right: 0px;
    position: absolute;
    box-shadow: 0px 5px 0px cadetblue;
}

.postDiv {
     background-color: whitesmoke;
     width: 600px;
     height: 400px;
     position: relative;
     top: 80px;
     left: 20px;
     box-shadow: 0px 5px 0px #ddeaff;
     border-radius: 10px;
}
.sidebar {
    height: 800px;
    width: 200px;
    background-color: whitesmoke;
    left: 650px;
    top: 100px;
    position: absolute;
    border-radius: 10px;
     
}
.menu {
    border: none;
    color: white;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
    top: 22px;
    left: 160px;
    box-shadow: 0px 0px 0px black;
}
.headerButton {
    text-decoration: none;
    background-color: skyblue;
    position: relative;
    transition-duration: 0.4s;
    color: white;
    margin: 20px;
}

.headerButton:hover {
    color: gray;   
}

.sideEntity {
    width: 5px;
    height: 320px;
    background-color: skyblue;
    border-radius: 3px;
    margin-left: 30px;
    position: absolute;
    top: 60px;
    
}

.interactiveDiv {
    background-color: whitesmoke;
     width: 600px;
     height: 400px;
     position: relative;
     top: 80px;
     left: 20px;
     box-shadow: 0px 5px 0px #ddeaff;
     border-radius: 10px; 
}