body {
    background-color: dimgrey;
    font-family: 'Roboto', sans-serif;
}

.background {
    background-color: gainsboro;
    width: 900px;
    height: 2000px;
    position: relative;
    margin: 0 auto;
    display: block;
    top: 30px;  
    z-index: -2
}

h1 {
    color: floralwhite;
    z-index: 0;
    left: 20px;
    top: -9px;
    position: absolute;
}
.header {
    background-color: skyblue;
    width: 875px;
    height: 60px;
    left: 10px;
    top: 10px;
    display: block;
    z-index: -1;
    position: absolute;
    box-shadow: 5px 5px 0px cadetblue;
}

.content1 {
     background-color: lightslategray;
     width: 600px;
     height: 400px;
     position: absolute;
     top: 180px;
     left: 20px;
}
.sidebar {
    
}
.menu {
    background-color: darkslategrey; 
    border: none;
    color: white;
    padding: 15px 300px 15px 5px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    top: 90px;
    left: 20px;
    box-shadow: 5px 5px 0px black;
}
.buttons{
    border:none;
    background-color: darkslategrey;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    position: relative;
}

.buttons:hover {
    float: left;
    top: 5px;
  
    
}
